#ingredients-modal-overlay
#ingredients-modal-wrapper
  .ingredients-box
    .ingredients-content
      .ingredients-edit
        = form_tag("/recipes/#{@recipe.id}/ingredients", method: :post) do
          .ingredients-title
            材料
            %span
              2人分
          .ingredients-table
            .ingredients-table-head
              .ingredients-table-head__name.table-head
                材料・調味料
              .ingredients-table-head__quantity.table-head
                分量
            .ingredients-table-liner
              = text_field :ingredient, :name, value: "", placeholder: "例）豚肉", class: "ingredients-table-liner__name text-field"
              = text_field :ingredient, :quantity, value: "", placeholder: "例）350g", class: "ingredients-table-liner__quantity text-field"
            .ingredient-submit
              = submit_tag "保存して閉じる", id: "ingredient-submit", class: "button"
    %button#modalClose close
