.global-header
  .container
    %ul.service-menu
      %li.service-menu__index
        サービス一覧
      %li.service-menu__link
        楽チン♪「詰めるだけグラタン」
    %ul.global-menu
      %li.global-menu__ps-link
        プレミアムサービス
      - unless user_signed_in?
        %li.global-menu__new-register-link
          = link_to 'ユーザー登録(無料)', new_user_registration_path
        %li.global-menu__login-link
          = link_to 'ログイン', new_user_session_path
      - if user_signed_in?
        %li.global-menu__nickname
          = link_to "#{current_user.email}", edit_user_registration_path
        %li.global-menu__config
          #user_menu_config
            = image_tag("/images/header_config.png")
