.register-container
  .register-wrapper
    #register_header
      %h1.register-title-border クックパッドにユーザー登録（無料）する
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .main
          .field
            = f.label :email, value: "メールアドレス"
            = f.email_field :email, autofocus: true
          .field
            = f.label :password, value: "パスワード"
            = f.password_field :password, autocomplete: "off"
          .field
            = f.label :password_confirmation, value: "パスワード（確認）"
            = f.password_field :password_confirmation, autocomplete: "off"
        .submit
          = f.submit "登録", id: "kitchen_submit"
